{% extends 'base.html' %}

{% block content %}

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Schedule Appointment</h2>
            <p>
                Easily book your appointments at the salon. Simply select your preferred time, service, ensuring a
                smooth and hassle-free scheduling experience.
            </p>
            <a href="{% url 'schedule-appointment' %}" class="btn btn-outline-light" type="button">Schedule</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>History</h2>
            <p>
                View, edit, or cancel your past salon appointments. Keep track of your appointment history, update
                service details, and ensure your records reflect any changes to your booking.

            </p>
            <a href="{% url 'my-appointments' %}" class="btn btn-outline-secondary" type="button">View History</a>
        </div>
    </div>
</div>

{% endblock content %}